* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

/* Theme */
:root {
	--primary: #70b229;
	--on-primary: black;
	--background: #fcffb2;
	--on-background: black;
}
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #842a2a;
		--on-primary: white;
		--background: #191a19;
		--on-background: white;
	}
}

/* General */
body {
	background-color: var(--background);
	color: var(--on-background);
	min-height: 100vh;
}
a {
	color: var(--primary);
}
