/** This is only DARK theme **/

@media (prefers-color-scheme: dark){
    body{
        background-color: #191A19;
    }

    header{
        background-color:#A13333;
    }

    nav.menu-nav ul li.button a{
        color: white;
        text-decoration: none;
        background-color: #A13333;
        transition: 0.3s all;
        border: 1px solid #191A19;
    }

    nav.menu-nav ul li.button b{
        color: white;
        background-color: #191A19;
        transition: 0.3s all;
    }

    nav.menu-nav ul li.button:hover a{
        color: white;
        background-color: #191A19;
        border: 1px solid white;
        transition: 0.3s all;
    }

    p.body-button a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: white;
        border: 1px solid #191A19;
        text-decoration: none;
        background-color: #A13333;
        transition: 0.3s all;
    }

    p.body-button a:hover{
        color: white;
        background-color: #191A19;
        border: 1px solid white;
        transition: 0.3s all;
    }
    
    /* programs */
    div.program-div{
        background-color: #A13333;
        color: white;
    }

    p.body-button-prog del{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        background-color: grey;
    }

    p.body-button-prog a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        background-color: #191A19;
        border: 1px solid #191A19;
        transition: 0.3s all;
    }

    p.body-button-prog a:hover{
        color: white;
        background-color: #A13333;
        border: 1px solid white;
        transition: 0.3s all;
    }

    footer{
        background-color: #A13333;
        text-align: center;
        color: white;
    }

    .colorinwhiteifdarktheme{
        color: white
    }
}
