/** This is only LIGHT theme **/

@media (prefers-color-scheme: light){
    body{
        background-color: #E8DCCA;
    }

    header{
        background-color:whitesmoke;
    }

    nav.menu-nav ul li.button a{
        color: black;
        text-decoration: none;
        background-color: whitesmoke;
        transition: 0.3s all;
        border: 1px solid #E8DCCA;
    }

    nav.menu-nav ul li.button b{
        color: black;
        background-color: #E8DCCA;
        transition: 0.3s all;
    }

    nav.menu-nav ul li.button:hover a{
        color: black;
        background-color: #E8DCCA;
        border: 1px solid black;
        transition: 0.3s all;
    }

    p.body-button a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        border: 1px solid #E8DCCA;
        text-decoration: none;
        background-color: whitesmoke;
        transition: 0.3s all;
    }

    p.body-button a:hover{
        color: black;
        background-color: #E8DCCA;
        border: 1px solid black;
        transition: 0.3s all;
    }

    /* programs */
    div#tresor-klah, div#nougaro, div#generateur-de-personnes, div#paques-calculator, div#textm, div#py-pendu, div#scratchos{
        background-color: whitesmoke;
        color: black;
    }

    p.body-button-prog del{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        background-color: grey;
    }

    p.body-button-prog a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        text-decoration: none;
        background-color: #E8DCCA;
        border: 1px solid #E8DCCA;
        transition: 0.3s all;
    }

    p.body-button-prog a:hover{
        color: black;
        background-color: whitesmoke;
        border: 1px solid black;
        transition: 0.3s all;
    }

    footer{
        background-color: whitesmoke;
        text-align: center;
    }
}
