/** This is only LIGHT theme **/

@media (prefers-color-scheme: light){
    body{
        background-color: #FCFFB2;
    }

    header{
        background-color:#70B229;
        color: black;
    }

    nav.menu-nav ul li.button a{
        color: black;
        text-decoration: none;
        background-color: #70B229;
        transition: 0.3s all;
        border: 1px solid #FCFFB2;
    }

    nav.menu-nav ul li.button b{
        color: black;
        background-color: #FCFFB2;
        transition: 0.3s all;
    }

    nav.menu-nav ul li.button:hover a{
        color: black;
        background-color: #FCFFB2;
        border: 1px solid black;
        transition: 0.3s all;
    }

    p.body-button a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        border: 1px solid #FCFFB2;
        text-decoration: none;
        background-color: #70B229;
        transition: 0.3s all;
    }

    p.body-button a:hover{
        color: black;
        background-color: #FCFFB2;
        border: 1px solid black;
        transition: 0.3s all;
    }

    /* programs */
    div.program-div{
        background-color: #70B229;
        color: black;
    }

    p.body-button-prog del{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        background-color: grey;
    }

    p.body-button-prog a{
        text-align: center;
        font-family: tahoma;
        padding: 10px;
        border-radius: 8px;
        color: black;
        text-decoration: none;
        background-color: #FCFFB2;
        border: 1px solid #FCFFB2;
        transition: 0.3s all;
    }

    p.body-button-prog a:hover{
        color: black;
        background-color: #70B229;
        border: 1px solid black;
        transition: 0.3s all;
    }

    footer{
        background-color: #70B229;
        text-align: center;
    }
}
