body{
    background-color: lightgreen;
}

header{
    background-color: green;
}

header div marquee h1{
	font-size: 40px;
}

header div{
    display: inline-block;
    text-align: center;
}

header div#img_header{
    width: 23%;
    vertical-align: top;
}

header div#img_header2{
    width: 23%;
}

header div#text_header{
    width: 49%;
    vertical-align: top;
    text-align: center;
}

div, header, footer{
    border-radius: 8px;
}

div#paques-calculator{
    background-color: #87CEEB;
    border: 1px solid black;
}

div#py-pendu{
    background-color: orange;
    border: 1px solid black;
}

div#generateur-de-personnes{
    background-color: palegreen;
    border: 1px solid black;
}

div#scratchos{
    background-color: blue;
    /* background-image: url("images_database/fleurs.png"); */
    border: 1px solid black;
    color: white;
}

div.program-div div{
    display: inline-block;
    width: 48%;
}

div.program-div div.program-text-div h1, div.program-div div.program-text-div p{
    text-align: right;
}

div.program-div div.program-img-div{
    text-align: left;
}

div.program-div div.program-text-div1 h1, div.program-div div.program-text-div1 p{
    text-align:left;
}

div.program-div div.program-img-div1{
    text-align:right;
}

li{
    font-family: tahoma;
}

nav.menu-nav{
    text-align: center;
}

nav.menu-nav ul li.button{
    list-style-type: none;
    display: inline-block;
    transition: 0.3s all;
}

nav.menu-nav ul li.button a{
    color: white;
    text-decoration: none;
    background-color: green;
    transition: 0.3s all;
    border: 1px solid green;
}

nav.menu-nav ul li.button b{
    color: black;
    background-color: lightgreen;
    transition: 0.3s all;
}

nav.menu-nav ul li.button a, nav.menu-nav ul li.button b{
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s all;
}

nav.menu-nav ul li.button:hover a{
    color: black;
    background-color: lightgreen;
    border: 1px solid black;
    transition: 0.3s all;
}

p{
    text-align: center;
    font-family: tahoma;
}

p.body-button, p.body-button-pc, p.body-button-pp, p.body-button-gp, p.body-button-f, p.body-button-scos{
    padding: 4px;
}

p.body-button a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: 1px solid green;
    text-decoration: none;
    background-color: green;
    transition: 0.3s all;
}

p.body-button a:hover{
    color: black;
    background-color: lightgreen;
    border: 1px solid black;
    transition: 0.3s all;
}

p.body-button-pc a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid #87CEEB;
    transition: 0.3s all;
}

p.body-button-pc a:hover{
    color: black;
    background-color: #87CEEB;
    border: 1px solid black;
    transition: 0.3s all;
}

p.body-button-pp a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid orange;
    transition: 0.3s all;
}

p.body-button-pp a:hover{
    color: black;
    background-color: orange;
    border: 1px solid black;
    transition: 0.3s all;
}

p.body-button-gp a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid palegreen;
    transition: 0.3s all;
}

p.body-button-gp a:hover{
    color: black;
    background-color: palegreen;
    border: 1px solid black;
    transition: 0.3s all;
}

p.body-button-f a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid lightgreen;
    transition: 0.3s all;
}

p.body-button-f a:hover{
    color: black;
    background-color: lightgreen;
    border: 1px solid black;
    transition: 0.3s all;
}

p.body-button-scos a{
    text-align: center;
    font-family: tahoma;
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background-color: green;
    border: 1px solid blue;
    transition: 0.3s all;
}

p.body-button-scos a:hover{
    color: white;
    background-color: blue;
    border: 1px solid white;
    transition: 0.3s all;
}

footer p{
    display: inline-block;
    font-family: tahoma;
    font-size: 11px
}

footer{
    background-color: green;
    text-align: center;
}

h1{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
}

header h1{
    text-align: right;
    font-family: tahoma;
    font-size: 20px;
}

img{
    border: 1px solid grey;
    border-radius: 8px;
    height: auto;
    transition: 0.3s all;
}

header div#img_header img{
    border-radius: 50%;
}

img:hover{
    box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
    transition: 0.3s all;
}

span.copyleft{
    display: inline-block;
    font-family: tahoma;
    transform: rotate(180deg);
}

figcaption{
    font-family: tahoma;
}

figure.credits{
    display: inline-block;
    vertical-align: top;

}

iframe{
	border-radius: 8px;
}

.language-text-python{
	margin: 2px;
	border: 4px solid purple;
	background-color: purple;
	color: white;
	border-radius: 8px;
}

.language-text-scratch{
	margin: 2px;
	border: 4px solid orange;
	background-color: orange;
	color: black;
	border-radius: 8px;
}

.tkinter-info{
	margin: 2px;
	border: 4px solid goldenrod;
	background-color: goldenrod;
	color: black;
	border-radius: 8px;
}

.no-tkinter-info{
	margin: 2px;
	border: 4px solid grey;
	background-color: grey;
	color: black;
	border-radius: 8px;
}

.bounce {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.bounce p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes bouncing-text {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
	}
    100% {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
