body{
    background-color: palegreen;
}

li{
    font-family: tahoma;
}

nav.menu-nav ul li.button{
    list-style-type: none;
    display: inline-block;
}

nav.menu-nav ul li.button a{
    color: white;
    text-decoration: none;
    background-color: green;
}

nav.menu-nav ul li.button b{
    color: black;
    background-color: palegreen;
}

nav.menu-nav ul li.button a, nav.menu-nav ul li.button b{
    padding: 10px;
    border-radius: 8px;
}

nav.menu-nav ul li.button:hover a{
    color: black;
    background-color: palegreen;
    transition: 0.3s all;
}

p{
    text-align: center;
    font-family: tahoma;
}

h1{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
}

img{
    border: 1px solid grey;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

img:hover{
    box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
    transition: 0.3s all;
}

tr:hover {background-color: lightgreen;};
