/** CSS made with <3 by Jean Dubois. **/
/** Texts (h1, p...) **/
html{
    font-family: Tahoma Ubuntu "Segoe UI";
}

p{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: 30px;
}

header div h1{
    font-size: 30px;
    text-align: center;
}

/** HEADER **/
header div{
    display: inline-block;
    text-align: center;
}

header div#img_header{
    width: 23%;
    vertical-align: top;
}

header div#img_header2{
    width: 23%;
}

header div#text_header{
    width: 49%;
    vertical-align: top;
    text-align: center;
}

header h1{
    text-align: right;
    font-size: 20px;
}

/** NAV **/
nav.menu-nav{
    text-align: center;
}

nav.menu-nav ul li.button{
    list-style-type: none;
    display: inline-block;
    transition: 0.3s all;
}

nav.menu-nav ul li.button a, nav.menu-nav ul li.button b{
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s all;
}

/** FOOTER **/
footer p{
    display: inline-block;
    font-size: 11px
}

span.copyleft { /** the copyleft is a copyright with a 180° rotation x) **/
    position: relative;
    display: inline-block;
    transform: scale(-1, 1);
}

/** Border radiuses **/
div, header, footer{
    border-radius: 8px;
}

/** Programs **/
div.program-div div{
    display: inline-block;
    width: 48%;
}

div.program-div div.program-text-div h1, div.program-div div.program-text-div p{
    text-align: right;
}

div.program-div div.program-img-div{
    text-align: left;
}

div.program-div{
    text-align:right;
}

p.body-button, p.body-button-prog{
    padding: 4px;
}

.language-text-python{
    margin: 2px;
    border: 4px solid purple;
    background-color: purple;
    color: white;
    border-radius: 8px;
}

.language-text-scratch{
    margin: 2px;
    border: 4px solid orange;
    background-color: orange;
    color: black;
    border-radius: 8px;
}

.module-info{
    margin: 2px;
    border: 4px solid goldenrod;
    background-color: goldenrod;
    color: black;
    border-radius: 8px;
}

.no-module-info{
    margin: 2px;
    border: 4px solid grey;
    background-color: grey;
    color: black;
    border-radius: 8px;
}

/** IMAGES **/
img{
    border: 1px solid grey;
    border-radius: 8px;
    height: auto;
    transition: 0.3s all;
}

header div#img_header img{
    border-radius: 50%;
}

img.withlink:hover{
    box-shadow: 0 0 5px 1px rgba(0, 140, 186, 1);
    transition: 0.3s all;
}

figure.credits{
    display: inline-block;
    width: 20%;
}


/** iframe **/
iframe{
    border-radius: 8px;
}
