/* Uniquement les pages qui ne contiennent pas beaucoup d'informations. */

body{
	padding-bottom: 75px;  /* pour le footer */
}

body.pluspx{
	padding-bottom: 100px;  /* pour le footer */
}

footer{
    bottom: 0;
	height: 75px;
	position: absolute;
    width: 99%;
}

footer.pluspx{
	bottom: 0;
	height: 100px;
	position: absolute;
    width: 99%;
}
